<table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Match %</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pro of profile">
     
        <td>{{pro.firstName}}</td>
        <td>{{pro.lastName}}</td>
        <td>{{pro.age}}</td>
        <td>{{pro.monthlyIncome}}</td>
        <td>{{pro.matchScore}}</td>
        <td><button type="button" class="btn btn-success mr-2" (click)="like(pro)">Like</button><button type="button" class="btn btn-danger" (click)="dislike(pro)">Dislike</button></td>
      </tr>
  
    </tbody>
  </table>